@page
@model MileAway.Pages.AddCostModel
@{
    ViewData["Title"] = "Kosten toevoegen page";
    Layout = "_Layout";
    //var test = Model.costType == "brandstof" ? "selected" : "";
}

<script>
    window.addEventListener("load", function () {
        @if (Model.costType == "Brandstof")
        {
            <text>$("#type option[value='Brandstof']").attr("selected", "selected");</text>
        }
        @if (Model.costType == "Reparatie")
        {
            <text>$("#type option[value='Reparatie']").attr("selected", "selected");</text>
        }
    });
    var CheckType = "Brandstof";

    function test() {
        var e = document.getElementById("type");
        console.log(e.value);
        CheckType = e.value;
        if (CheckType == "Brandstof") {
            window.location.href = "/AddCost?type=Brandstof";
        }
        if (CheckType == "Reparatie") {
            window.location.href = "/AddCost?type=Reparatie";
        }
    }
</script>

<form method="post" asp-page-handler="AddCost">
    <div class="form-group">
        <select class="form-control" id="type" onchange="test()">
            <option selected>Open this select menu</option>
            <option value="Brandstof">Brandstof</option>
            <option value="Reparatie">Reparatie</option>
        </select>
    </div>

    @if (Model.costType == "Brandstof")
    {
        //Brandstof form
        <div class="form-group">
            <label for="inputCost">Bedrag*</label>
            <input asp-for="Costs.Cost" type="text" class="form-control" id="inputCost" placeholder="€50">
            <span class="invalid-feedback" asp-validation-for="Costs.Cost"></span>
        </div>
        <div class="form-group">
            <label for="inputMileage_Km">Kilometerstand</label>
            <input asp-for="Vehicles.Mileage_Km" type="text" class="form-control" id="inputMileage_Km" placeholder="122000km">
            <span class="invalid-feedback" asp-validation-for="Vehicles.Mileage_Km"></span>
        </div>
        <div class="form-group">
            <label for="inputFuel_Quantity">Liters*</label>
            <input asp-for="Costs.Fuel_Quantity" type="password" class="form-control" id="inputFuel_Quantity" placeholder="30L">
            <span class="invalid-feedback" asp-validation-for="Costs.Fuel_Quantity"></span>
        </div>
        <div class="form-group">
            <label for="inputDate_Of_Cost">Datum</label>
            <input asp-for="Costs.Date_Of_Cost" type="date" class="form-control" id="inputDate_Of_Cost" placeholder="">
            <span class="invalid-feedback" asp-validation-for="Costs.Date_Of_Cost"></span>
            @*//TODO: to bootstrap datepicker*@
        </div>
        @*<div class="form-group">
                <label for="inputTime">Time</label>
                <input asp-for="User.FirstName" type="time" class="form-control" id="inputTime" placeholder="">
                <span class="invalid-feedback" asp-validation-for="User.FirstName"></span>
            </div>*@
        <br />
        <div class="text-center">
            <button type="submit" class="btn btn-primary  col-6 col-md-4">Toevoegen</button>
        </div>
    }


    @if (Model.costType == "Reparatie")
    {
        //Reparatie forum
        <div class="form-group">
            <label for="inputCost">Bedrag*</label>
            <input asp-for="Costs.Cost" type="text" class="form-control" id="inputCost" placeholder="€50">
            <span class="invalid-feedback" asp-validation-for="Costs.Cost"></span>
        </div>
        <div class="form-group">
            <label for="inputRepair_Information">Onderdelen vervangen</label>
            <input asp-for="Costs.Repair_Information" type="text" class="form-control" id="inputRepair_Information" placeholder="Koppeling, Versnellingspook">
            <span class="invalid-feedback" asp-validation-for="Costs.Repair_Information"></span>
        </div>
        @*<div class="form-group">
                <label for="inputLiters">Man-uren</label>
                <input asp-for="User.FirstName" type="text" class="form-control" id="inputManHours" placeholder="28">
                <span class="invalid-feedback" asp-validation-for="User.FirstName"></span>
            </div>*@
        <div class="form-group">
            <label for="inputInvoice_Doc">Factuurnummer</label>
            <input asp-for="Costs.Invoice_Doc" type="text" class="form-control" id="inputInvoice_Doc" placeholder="2008176">
            <span class="invalid-feedback" asp-validation-for="Costs.Invoice_Doc"></span>
        </div>
        @*<div class="form-group">
                <label for="inputDate">Garage</label>
                <input asp-for="User.FirstName" type="text" class="form-control" id="inputGarage" placeholder="">
                <span class="invalid-feedback" asp-validation-for="User.FirstName"></span>
            </div>*@
        <div class="form-group">
            <label for="inputMileage_Km">Kilometerstand</label>
            <input asp-for="Vehicles.Mileage_Km" type="text" class="form-control" id="inputMileage_Km" placeholder="122000km">
            <span class="invalid-feedback" asp-validation-for="Vehicles.Mileage_Km"></span>
        </div>
        <div class="form-group">
            <label for="inputDate_Of_Cost">Datum</label>
            <input asp-for="Costs.Date_Of_Cost" type="date" class="form-control" id="inputDate_Of_Cost" placeholder="">
            <span class="invalid-feedback" asp-validation-for="Costs.Date_Of_Cost"></span>
        </div>
        <br />
        <div class="text-center">
            <button type="submit" class="btn btn-primary  col-6 col-md-4">Volgende</button>
        </div>
    }
</form>



