@page
@model MileAway.Pages.AddCostModel
@{
    ViewData["Title"] = "Kosten toevoegen page";
    Layout = "_Layout";
    //var test = Model.costType == "brandstof" ? "selected" : "";
}

<script>
    window.addEventListener("load", function () {
        @if (Model.costType == "Brandstof")
        {
            <text>$("#type option[value='Brandstof']").attr("selected", "selected");</text>
        }
        @if (Model.costType == "Reparatie")
        {
            <text>$("#type option[value='Reparatie']").attr("selected", "selected");</text>
        }
    });
    var CheckType = "Brandstof";

    function test() {
        var e = document.getElementById("type");
        console.log(e.value);
        CheckType = e.value;
        if (CheckType == "Brandstof") {
            window.location.href = "/AddCost?type=Brandstof";
        }
        if (CheckType == "Reparatie") {
            window.location.href = "/AddCost?type=Reparatie";
        }
    }
</script>

<form method="post" asp-page-handler="AddCost">
    <div class="form-group">
        <select class="form-control" id="type" onchange="test()">
            <option selected>Open this select menu</option>
            <option value="Brandstof">Brandstof</option>
            <option value="Reparatie">Reparatie</option>
        </select>
    </div>

    @if (Model.costType == "Brandstof")
    {
        //Brandstof form
        <div class="form-group">
            <label for="inputPrice">Bedrag*</label>
            <input type="text" class="form-control" id="inputPrice" placeholder="€50">
        </div>
        <div class="form-group">
            <label for="inputMileage">Kilometerstand</label>
            <input type="email" class="form-control" id="inputKM" aria-describedby="emailHelp" placeholder="122000km">
        </div>
        <div class="form-group">
            <label for="inputLiters">Liters*</label>
            <input type="password" class="form-control" id="inputLitersPassword" placeholder="30L">
        </div>
        <div class="form-group">
            <label for="inputDate">Datum</label>
            <input type="date" class="form-control" id="inputDate" placeholder="">
        </div>
        <div class="form-group">
            <label for="inputTime">Time</label>
            <input type="time" class="form-control" id="inputTime" placeholder="">
        </div>
        <br />
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Volgende</button>
        </div>
    }
</form>

@if (Model.costType == "Reparatie")
{
    //Reparatie form
    <p>REPARATIE!</p>
}




