@page
@model IndexModel
@{
    ViewData["Title"] = "Overview page";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/Overview.css" />

<div class="text-center">
    <h1 class="display-4">Uw voertuigen</h1>
</div>
<div class="row">
    <div class="card col-xs-12 col-md-6 text-center">
        <div class="card-body ">
            <h5 class="card-title">Alfa Romeo 147</h5>
            <div class="card-text">
                <div>03-LL-GN</div>
                <b>Gemiddelde kosten per maand</b>
                <p class="m-0">€170,40</p>
                <b>Kilometerstand</b>
                <p class="m-0">227.500</p>
            </div>
            <img class="mx-auto d-block" width="200" src="https://parkers-images.bauersecure.com/gallery-image/pagefiles/204617/static-exterior/1752x1168/ar_896.jpg" alt="Car picture">

            <a href="#" class="mt-2 btn btn-light border-dark">Kosten toevoegen</a>
        </div>
    </div>
    <div class="card add col-xs-12 col-md-6 align-content-center">
        <a href="#" class="mx-auto">
            <img class="col-xs-6 w-50 mx-auto d-block" src="~/assets/icons/plus.png" />
        </a>
    </div>
</div>