@page
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@model MileAway.Pages.LoginModel
@{
    ViewData["No Nav"] = true;
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MileAway</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Login.css">
</head>
<body>
    <div class="container">
        <!-- Logo -->
        <div class="row">
            <div class="col text-center mt-3">
                <img class="navbar-icon" alt="MileAway logo" src="~/assets/logo.png" />
            </div>
        </div>
        <!-- Wrapper login -->
        <div class="row">
            <div class="col-12 Wrapper_login mt-4">
                <div id="formContent">
                    <!-- Tabs Titles -->
                    <div class="Text p-2">
                        <h3>Welkom!</h3>
                        <p>De inzage in uw uitgaven begint hier</p>
                    </div>
                    @if (TempData.ContainsKey("ErrorMessage"))
                    {
                        <div class="alert alert-danger" role="alert">
                            @TempData["ErrorMessage"]
                        </div>
                    }
                    <!-- Login Form -->
                    <form method="post" asp-page-handler="Login">
                        <!-- Username -->
                        <div class="form-group row">
                            <div class="col-6 offset-3">
                                <input asp-for="User.Email" type="text" class="form-control" id="Email" placeholder="Email">
                                <span class="invalid-feedback" asp-validation-for="User.Email"></span>
                            </div>
                        </div>
                        <!-- Password -->
                        <div class="form-group row">
                            <div class="col-6 offset-3">
                                <input asp-for="User.Password" type="password" class="form-control" id="Password" placeholder="Password">
                                <span class="invalid-feedback" asp-validation-for="User.Password"></span>
                            </div>
                        </div>
                        <!-- Submit btn-->
                        <button type="submit" class="btn btn-primary mb-2">Log in</button>
                    </form>
                    <!-- Register -->
                    <div id="formFooter">
                        <a class="underlineHover" href="/Register/">Registreer hier</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wrapper RDW1 -->
        <div class="row">
            <div class="col-6 pl-0 red">
                <div class="Wrapper_RDW1">
                    <h4>Waar zitten de uitgaven van m'n voertuig?</h4>
                    <p>- TestInfo</p>
                    <p>- TestInfo</p>
                    <p>- TestInfo</p>
                </div>
            </div>
            <!-- Wrapper RDW2 -->
            <div class="col-6 pr-0 blue">
                <div class="Wrapper_RDW2">
                    <h4>Connectie met RDW API</h4>
                    <p>- TestInfo</p>
                    <p>- TestInfo</p>
                    <p>- TestInfo</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Script fontawesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</body>
</html>

