@page
@model MileAway.Pages.LoginModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MileAway</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Login.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-12 Wrapper_login">
                <div id="formContent">
                    <!-- Tabs Titles -->
                    <div class="Icon_user">
                        <i class="far fa-user fa-2x"></i>
                    </div>
                    <!-- Login Form -->
                    <form>
                        <!-- Username -->
                        <div class="form-group row">
                            <div class="col-6 offset-3">
                                <input type="text" class="form-control" id="Username" aria-describedby="Username" placeholder="Username">
                            </div>
                        </div>
                        <!-- Password -->
                        <div class="form-group row">
                            <div class="col-6 offset-3">
                                <input type="password" class="form-control" id="Password" aria-describedby="Password" placeholder="Password">
                            </div>
                        </div>
                        <!-- Submit btn-->
                        <button type="submit" class="btn btn-primary">Log in</button>
                    </form>
                    <!-- Register -->
                    <div id="formFooter">
                        <a class="underlineHover" href="#">Registreren?</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5 Wrapper_RDW1 float-left red">
                2
            </div>
            <div class="col-5 offset-2 Wrapper_RDW2 float-right blue">
                3
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    </body>
</html>

