@page
@using Microsoft.AspNetCore.Hosting
@using Microsoft.Extensions.Hosting
@model MileAway.Pages.registerModel
@{
    ViewData["Title"] = "Register";
    Layout = "_Layout";
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script>var settings = {
validClass: "is-valid",
errorClass: "is-invalid"
};
$.validator.setDefaults(settings);
$.validator.unobtrusive.options = settings;</script>
}

<link rel="stylesheet" href="~/css/profile.css">
<div class="text-center">
    <h1>Registreren</h1>
</div>

<form method="post" asp-page-handler="Register">
    @if (Model.Error != null)
    {
        <div class="alert alert-danger" role="alert">
            @Model.Error
        </div>
    }
    <div class="form-group">
        <label for="inputSirName">Voornaam*</label>
        <input asp-for="User.FirstName" type="text" class="form-control" id="inputSirName" placeholder="Voornaam">
        <span class="invalid-feedback" asp-validation-for="User.FirstName"></span>
    </div>
    <div class="form-group">
        <label for="inputLastName">Achternaam</label>
        <input asp-for="User.LastName" type="text" class="form-control" id="inputLastName" placeholder="Achternaam">
        <span class="invalid-feedback" asp-validation-for="User.LastName"></span>
    </div>
    <div class="form-group">
        <label for="inputEmail">Email address*</label>
        <input asp-for="User.Email" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="E-mail">
        <span class="invalid-feedback" asp-validation-for="User.Email"></span>
    </div>
    <div class="form-group">
        <label for="inputPassword">Wachtwoord*</label>
        <input asp-for="User.Password" type="password" class="form-control" id="inputPassword" placeholder="Wachtwoord">
        <span class="invalid-feedback" asp-validation-for="User.Password"></span>
    </div>
    <div class="form-group">
        <label for="inputRepeatPassword">Wachtwoord herhalen*</label>
        <input asp-for="User.ConfirmPassword" type="password" class="form-control" id="inputRepeatPassword" placeholder="Wachtwoord">
        <span class="invalid-feedback" asp-validation-for="User.ConfirmPassword"></span>
    </div>
    <div>
        <label class="form-label" for="profilePicture">Profielfoto</label>
        <input asp-for="User.User_Image" type="file" class="form-control" id="profilePicture" />
        <span class="invalid-feedback" asp-validation-for="User.User_Image"></span>
    </div>
    <br />
    <div class="text-center">
        <button type="submit" class="btn btn-primary">Volgende</button>
    </div>
</form>