/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar .container {
    text-align: center !important;
    display: block !important;
}

    .navbar .container .icon:first-child {
        position: absolute;
    }

body {
    font-family: "Roboto", sans-serif;
}

i.link:hover {
    cursor: pointer;
}

.accordion .fa-caret-down {
    font-size: 50px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

ul {
    list-style: none;
}

    ul li::before {
        content: "\2022";
        color: #00A3FF;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        font-size: larger;
    }

.list-group li::before {
    content: none;
}

nav ul li::before {
    content: none;
}

img.navbar-icon {
    width: 200px !important;
}

.navbar {
    border-bottom: 3px solid #00A3FF;
}

@media only screen and (max-width: 576px) {


    header .navbar .icon {
        display: none;
    }
}

@media only screen and (min-width: 576px) {
    header .navbar .text {
        display: none !important;
    }

    header .navbar .icon {
        display: flex !important;
    }
}


/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

a.add:hover {
    color: black;
    text-decoration: none;
}

div.add:hover {
    box-shadow: 3px 3px 5px 6px #ccc;
}
